<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_login_success.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <!--아이콘-->
  <script src="fullpage.min.js"></script>
  <title>온새미로 - 로그인 성공</title>
</head>

<body>
  <div id="full-page">
    <div class="container">
      <div class="menu">
        <!-- 상단 메뉴-->
        <ul>
          <!--로고-->
          <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a>
          </li>
          <li></li>
          <li></li>
          <li></li>
          <li><a href="/" style="color:#17242B;">홈</a></li>
          <li>
            <div class="dropdown">
              <a href="/swc_way" class="dropbtn">분리수거 정보</a>
              <div class="dropdown-content">
                <a href="/swc_way">분리수거 방법</a>
                <a href="/swc_reason">분리수거 이유</a>
              </div>
            </div>
          </li>
          <li><a href="/point">새싹 포인트</a></li>
          <li></li>
          <li id="login_li"><a href="/login">로그인</a></li>
          <li id="signup_li"><a href="/signup">회원가입</a></li>
        </ul>
      </div>
      <div id="login_success_box">
        <div style="font-size: 40px; padding-bottom: 30px;">
          로그인에 성공했습니다
        </div>
        <div>
          <a href="/">
            <button>
              홈으로
            </button>
          </a>
          <a href="/mypage">
            <button>
              마이페이지
            </button>
          </a>
        </div>
      </div>
    </div> <!-- end container -->
  </div> <!-- end full-page -->

  <script type="text/javascript" src="login_confirm.js"></script>

  <script>
    new fullpage("#full-page", {});
  </script>
</body>

</html>